<html>
  <body>
    <header class="flex items-center justify-between p-4 bg-white dark:bg-zinc-800">
      <div class="header-left">
        <img src="../../assets/img/logo1.svg" alt="Logo" class="h-12 w-12 mr-4">
        <span class="text-xl font-semibold text-zinc-900 dark:text-white">CONTROL DE LABORATORIOS</span>
      </div>
      <nav class="flex items-center space-x-8">
        <a href="#" class="text-zinc-900 dark:text-white hover:underline">Laboratorios</a>
        <a href="#" class="text-zinc-900 dark:text-white hover:underline">Campus</a>
        <a href="#" class="text-zinc-900 dark:text-white hover:underline">Configuración</a>
        <button class="bg-blue-700 text-white px-4 py-2 rounded">Sesion</button>
      </nav>
    </header>
  </body>
</html>
