<main>
    <h1>Laboratorios: Campus Central</h1>
    <div class="grid-container" id="grid-container">
      <!-- Edificios se agregarán aquí dinámicamente -->
    </div>
    <div class="pagination">
      <button class="pagination-button" id="prev-page">&larr;</button>
      <button class="page-number" data-page="1">1</button>
      <button class="page-number" data-page="2">2</button>
      <button class="page-number" data-page="3">3</button>
      <button class="pagination-button" id="next-page">&rarr;</button>
    </div>
  </main>
  